<div>
    <h1 class="text-center ">Feedback</h1>
    <h3 class="bg-green-300 w-full px-4 ">Please rate <%= review.name %> on the following attributes:</h3>
    <form action="/users/rating/submit/<%= review._id %>" method="post">
        <h3>Productivity</h3>
        <input type="radio" name="Productivity" id="productivity-1" value="1"><label for="productivity-1">1</label>
        <input type="radio" name="Productivity" id="productivity-2" value="2"><label for="productivity-2">2</label>
        <input type="radio" name="Productivity" id="productivity-3" value="3"><label for="productivity-3">3</label>
        <input type="radio" name="Productivity" id="productivity-4" value="4"><label for="productivity-4">4</label>
        <input type="radio" name="Productivity" id="productivity-5" value="5"><label for="productivity-5">5</label>

        <h3>Competency</h3>
        <input type="radio" name="Competency" id="competency-1" value="1"><label for="competency-1">1</label>
        <input type="radio" name="Competency" id="competency-2" value="2"><label for="competency-2">2</label>
        <input type="radio" name="Competency" id="competency-3" value="3"><label for="competency-3">3</label>
        <input type="radio" name="Competency" id="competency-4" value="4"><label for="competency-4">4</label>
        <input type="radio" name="Competency" id="competency-5" value="5"><label for="competency-5">5</label>

        <h3>Communication</h3>
        <input type="radio" name="Communication" id="communication-1" value="1"><label for="communication-1">1</label>
        <input type="radio" name="Communication" id="communication-2" value="2"><label for="communication-2">2</label>
        <input type="radio" name="Communication" id="communication-3" value="3"><label for="communication-3">3</label>
        <input type="radio" name="Communication" id="communication-4" value="4"><label for="communication-4">4</label>
        <input type="radio" name="Communication" id="communication-5" value="5"><label for="communication-5">5</label>

        <h3>Problem Solving</h3>
        <input type="radio" name="ProblemSolving" id="problem-solving-1" value="1"><label for="problem-solving-1">1</label>
        <input type="radio" name="ProblemSolving" id="problem-solving-2" value="2"><label for="problem-solving-2">2</label>
        <input type="radio" name="ProblemSolving" id="problem-solving-3" value="3"><label for="problem-solving-3">3</label>
        <input type="radio" name="ProblemSolving" id="problem-solving-4" value="4"><label for="problem-solving-4">4</label>
        <input type="radio" name="ProblemSolving" id="problem-solving-5" value="5"><label for="problem-solving-5">5</label>

        <br>
        <button type="submit" id="submit" class="bg-cyan-600 rounded-md w-30 px-1 focus:bg-cyan-600 hover:bg-sky-400 " >submit
        </button>
    </form>
</div>
