

<div>
    <table class="table-fixed   border border-slate-400 rounded-md w-full">
        <thead>
        <tr>
            <th >Employee</th>
            <th>Reviewer</th>
            <th>Performance Rating</th>
        </tr>
    </thead>
    <tbody>
   
        <% performance.forEach(review => { %>
            <tr class="text-center odd:bg-gray-50 odd:bg-opacity-25 ">
                <td class=""><%= review.name %></td>
                <td><%= review.reviewerName %> 
                    
                  
                  
                 
               </td> 
                <td><%= review.rating %></td>
                <td><a href="/users/feedback/<%= review._id %>" class="bg-cyan-500 rounded-md w-14 px-1 focus:bg-cyan-300 hover:bg-sky-400 ">start feedback</a></td>
            </tr>
            
        <% }); %>
    </tbody>
    </table>
</div>


